* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Slack-Larsseit, "Helvetica Neue", Helvetica, "Segoe UI", Tahoma,
    Arial, sans-serif;
}

nav {
  background-color: #540b51;
  padding: 25px;
  display: flex;
  justify-content: space-between;
}

.logo {
    display: flex;
    flex-direction: row;
  }

nav img {
  max-width: 86px;
}

nav ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

nav li a {
  padding: 0 20px;
  text-decoration: none;
  color: white;
  font-size: 13px;
  font-weight: bold;
}

.buttons {
    display: flex;
    flex-direction: row;
  }

.buttons img {
  width: 20px;
  background-color: #540b51;
}

.try {
    background-color: white;
    color: #540b51;
    padding: 10px 8px;
    text-transform: uppercase;
    border-radius: 5px;
    font-size: 12px;
}

header {
    background-color: #540b51;
    display: flex;
    flex-direction: row;
    color: white;
}

header > div {
    max-width: 50%;
}

h1 {
    font-size: 70px;
    margin: 30px 30px 30px 70px;
}

header p {
    font-size: 20px;
    margin-left: 70px;
    padding-bottom: 20px;
}

.email {
    background-color: white;
    color: #540b51;
    margin-left: 70px;
    text-transform: uppercase;
    border-radius: 5px;
    font-size: 12px;
    font-weight: bold;
    min-width: 35%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.google {    
    min-width: 35%;
    background-color: #4285F4;
    text-transform: uppercase;
    align-items: center;
    vertical-align: middle;
    border-radius: 5px;
}

.google img {
    max-height: 30px;
    background-color: white;
    border-radius: 5px;
    padding: 5px;
}

.google span {
    padding: 10px 0px 10px 5px;
}

.app-screenshot img {
    max-width: 100%;
}

.companies {
    background-color: #F3EAE2;
}

.companies p {
    text-align: center;
    font-size: 15px;
    padding: 40px;
    padding-bottom: 0;
    text-transform: uppercase;
    justify-content: center;
}

.companies > div {
    display: flex;
    padding: 50px 80px 80px 80px;
    justify-content: space-around;
}

.companies img {
    height: 30px;
}

.oval {
    background-color: #F3EAE2;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.oval img {
    max-width: 70%;
}

.oval h2 {
    font-size: 35px;
    padding: 20px 70px 0px 70px;
}

.oval p, a {
    padding: 20px 70px;
    text-decoration: none;
}

.oval a {
    color: #2E71A6;
}

.teams h3 {
    padding-top: 50px;
    padding-bottom: 30px;
    text-align: center;
    font-size: 35px;
}

.teams p {
    text-align: center;
    font-size: 15px;
    margin-bottom: 10px;
}

.colored-buttons {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.meet, .talk {
    font-size: 12px;
    font-weight: bold;
    padding: 15px;
    border-radius: 5px;
    align-self: center;
    text-transform: uppercase;
    border-color: #540B51;
    margin-right: 10px;
}

.meet {
    background-color: #540B51;
    color: white;
}

.talk {
    background-color: white;
    color: #540B51;    
}

.percentage {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.percentage li {
    list-style-type: none;
    margin: 80px 55px 50px 55px;
}

.percentage li p {
    font-weight: bold;
    text-align: left;
}

.percentage li p span {
    list-style-type: none;
    font-size: 60px;
    color: #540b51;
    text-align: center;
}

.welcome {
    height: 200px;
    background-color: #540B51;
    color: white;
    font-size: 30px;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 30px;
    border-bottom-left-radius:50%;
    border-bottom-right-radius:50%;
}

.free {
    background-color: white;
    color: #540b51;
    padding: 15px 8px;
    text-transform: uppercase;
    border-color: white;
    font-size: 12px;
    margin-top: 20px;
    border-color: white;   
}

.sales {
    background-color: #540b51;
    color: white;
    padding: 15px 8px;
    text-transform: uppercase;
    border-color: white;
    font-size: 12px;
    margin-top: 20px; 
}

footer img {
    height: 50px;
    margin-left: 20px;
}

footer div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 12px;
}

.title {
    font-weight: bold;
    margin-bottom: 10px;
    list-style: none;
}

footer div li {
    padding-top: 10px;
    list-style: none;
}

.foot {
    display: flex;
    justify-content: space-around;
    list-style: none;
    font-weight: bold;
    font-size: 10px;
}

.icons {
    display: flex;
    justify-content: space-evenly;
    max-width: 50%;
    list-style: none;
    padding-top: 30px; 
}

small {
    display: flex;
    align-self: flex-start;
    margin-top: 50px;
    margin-bottom: 100px;
}

@media (max-width: 768px) {
    nav {
        flex-direction: column;
    }

    header {
        flex-direction: column;
    }

    header > div {
        max-width: 100%;
    }

    .buttons {
        max-width: 100%;
    }
}

/*
background purple: #540B51
background ivory: #F3EAE2
button blue: #4285F4
titles black: #191817
paragraph black: #000000
paragraph yellow: #ECB12F
links blue: #2E71A6
footer links grey: #454245
*/